# Nuxt dev/build outputs
.output
.nuxt
.data
.nitro
.cache
dist

# Node dependencies
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# System files
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Logs
*.log
